*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.appBar{
    background-color: #eaeaea;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 50px;
    
}
.delicious{
    font-family: 'Birthstone Bounce', cursive;
    font-weight: 2;
    
}


/* ---------------second Page---------------- */
.secondPage{
    position: absolute;
    top: 100%;
    /* border: 1px solid red; */
    width: 100%;
    height: 97vh;
}

.cakeDiscription{
    position: absolute;
    /* border: 1px solid rgb(0, 47, 255); */
    width: 30%;
    height: 97vh;
}

.cakeSection{
    position: absolute;
    /* border: 1px solid rgb(34, 236, 135); */
    width: 70%;
    height: 97vh;
    right:0;
}

.cakeDiscriptionRectangle{
    position: absolute;
    /* border: 1px solid rgb(255, 0, 242); */
    width: 68%;
    height: 70vh;
    right: 0;
    top:25%;
    background-color: #a00412;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
}

.cakeCatogary-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid rgba(237,237,237,0.6);
    border-top: 1px solid rgba(237,237,237,0.6); */
    flex-wrap: wrap;
    margin: 20px;
    position: absolute;
    top: 11%;
    left: 13%;
}

.cakeCatogary-filter li{
    margin: 10px;
    padding: 5px 20px;
    color: #9b9b9b;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
}

.cakeCatogary-filter-active{
    border-bottom: 1px solid #a00412;
    color: #272727;
    /* width: 19px; */
    /* text-align: center; */
    
}

.cake-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    position: absolute;
    left:2%;
    top: 22%;
    height: 79%;
}

.cake-box{
    width: 234px;
    padding: 15px;
    border: 1px solid #e0dfdf;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px;
    height: 40%;
    /* background-color: #e2e2e2; */

}

.cake-box img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.cake-box img:hover{
    width: 110%;
    height: 110%;
    overflow: hidden;
    border-radius: 5px;
}

.discripCatogary{
    display: flex;
    flex-wrap: wrap;
    max-width: 100px;
    margin:auto;
    position: absolute;
    left:34%;
    top: 41%;
    /* height: 79%; */
    text-align: center;
    color: white;
    font-family: 'Anek Telugu', sans-serif;
    font-size: 15px;
}

.listSection{
    padding: 15px;
    margin: -10px;
    text-align: center;
    
}

p{
    font-family: 'Anek Telugu', sans-serif;
}

.cupCake-box{
    display: none;

}

.cookies-box{
    display: none;
    
}




/* ------------------third page-------------------- */

.thirdPage{
    position: absolute;
    top:205%;
    /* border: 1px solid red; */
    width: 100%;
    height: 70vh;

}

.thirdPageTopic{
    position: relative;
    top:12%;
    /* border: 1px solid rgb(55, 24, 128); */
    width: 20%;
    height: 10vh;
    text-align: center;
    margin: auto;
    
}

.thirdPageTopic h6{
    font-family: 'Birthstone Bounce', cursive;
    font-weight: 2;
}

.thirdPageParagraph{
    position: relative;
    top:2%;
    /* border: 1px solid rgb(7, 141, 85); */
    width: 50%;
    height: 50vh;
    text-align: center;
    margin: auto;
}

.thirdPageParagraph h6{
    font-family: 'Birthstone Bounce', cursive;
    font-weight: 2;
}




/* ----------------------forth page------------- */

.forthPage{
    position: absolute;
    top:270%;
    border: 1px solid red;
    width: 100%;
    height: 70vh;
}

.forthPageDiscription{
    position: absolute;
    top:0;
    border: 1px solid rgb(15, 196, 30);
    width: 37%;
    height: 75vh;
}

.forthPageimage{
    position: absolute;
    top:0;
    right:0;
    border: 1px solid rgb(62, 20, 179);
    width: 63%;
    height: 75vh;
}

.forthPageDiscriptionRectangle{
    position: absolute;
    top:0;
    right: 0;
    border: 1px solid rgb(196, 103, 15);
    width: 67%;
    height: 75vh;
}

.forthPageimageRectangle{
    position: absolute;
    top:0;
    left:28px;
    border: 1px solid rgb(62, 20, 179);
    width: 78%;
    height: 75vh;
}